/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
.header-container {
    display: flex;
    justify-content: flex-start; /* Alineación a la izquierda */
    align-items: center;
    padding: 10px 20px;
    background-color: #2c3e50;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    width: 50px; /* Tamaño del logo */
    height: auto;
}

.logo-text {
    margin-left: 10px;
    font-size: 24px; /* Aumento de 4 puntos al tamaño original del texto */
    color: #fff;
    font-weight: bold;
}

/* Navbar */
.nav-container nav ul {
    display: flex;
    list-style: none;
    margin-left: auto;
}

.nav-container nav ul li {
    margin: 0 15px;
}

.nav-container nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-container nav ul li a:hover {
    background-color: #5c9e60;
}

/* Carrusel */
.carousel {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.carousel img {
    width: 100%;
    display: none;
    transition: opacity 1s ease-in-out;
}

.carousel img.active {
    display: block;
    opacity: 1;
}

.carousel-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-controls button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
}

.carousel-controls button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Responsivo */
@media (max-width: 768px) {
    .services-container {
        flex-direction: column;
        align-items: center;
    }

    .carousel-text h1 {
        font-size: 1.8em;
    }

    .logo-text {
        font-size: 20px; /* Ajustar el tamaño en pantallas pequeñas si es necesario */
    }
}
